.container {
  display: flex;
  flex-direction: column;
  left: 500px;
  right: 500px;
  min-width: 450px;
  max-width: 450px;
  background: #eaeaea;
  position: absolute;
}

.form {
  display: flex;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

.mat-focused .placeholder {
  color: transparent;
}
