<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Adding resource plan</h3>
  <form class="mat-dialog-content" #formControl="ngForm">

    <div class="form">
      <mat-form-field>
        <input matInput [(ngModel)]="data.id" name="id" required>
        <mat-placeholder class="placeholder">Id</mat-placeholder>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput [(ngModel)]="data.idMaterial" name="idMaterial" required>
        <mat-placeholder class="placeholder">Id material</mat-placeholder>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field >
        <input matInput [(ngModel)]="data.neededQuantityOfMaterial" name="neededQuantityOfMaterial" required>
        <mat-placeholder class="placeholder">Needed quantity of material</mat-placeholder>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button *ngIf="flag == 1" type="submit" [mat-dialog-close]="1"
        (click)="add()" [disabled]="!formControl.valid">Save</button>
      <button mat-button (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>

