.container {
  display: flex;
  flex-direction: column;
  background-color: #D4E6F1;
}

.spacer {
  flex: 1 1 auto;
  align-items: center;
}


.form {
  background-color: white;
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.mat-sort-header {
  background-color: #CCD1D1 ;
}

.title-center {
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-style: bold;
  margin-top: 100px;
  margin-bottom: 10px;
}

.selectRow{
  background: #eaeaea;
}

.mat-row:hover, .example-selected-row {
  background: #D6DBDF;
}

.mat-row:active, .mat-row.example-selected-row {
  background: #eaeaea;
}
