<nav class="navbar navbar-inverse navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <img class="brand-logo" src="assets/icon_mrp.png" alt="mrp">
  </a>
  <ul class="nav nav-tabs">
    <li>
      <a class="nav-link active">
        <a href="/products">Products
        </a>
      </a>
    </li>
    <li>
      <a class="nav-link active">
        <a href="/material">Materials
        </a>
      </a>
    </li>
    <li>
      <a class="nav-link active">
        <a href="/dashboard">Go to dashboard
        </a>
      </a>
    </li>
  </ul>
</nav>


<mat-toolbar color="primary">
  <span class="title-center">Details about product, its materials and its parts</span>
</mat-toolbar>


 <div class="container mat-elevation-z8">
   <!---
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    -->
    <mat-form-field>Filter:
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="">
    </mat-form-field>


  <mat-table #table [dataSource]="dataSource" class="mat-cell" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- ID Column -->

    <ng-container matColumnDef="productKey">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Id product</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.productKey}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nameProduct">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Product name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nameProduct}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="namePartOfProduct">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Part name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.namePartOfProduct}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dimensionsPartOfProduct">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Dimensions</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dimensionsPartOfProduct}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="idMaterial">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Id material</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idMaterial}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nameMaterial">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Material name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nameMaterial}}</mat-cell>
    </ng-container>

    <!-- actions -->

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="openDialog(1)">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </mat-header-cell>


      <mat-cell *matCellDef="let row; let i=index;">

        <button mat-icon-button color="primary" (click)="openDialog(2, row.productKey, row.nameProduct, row.id, row.namePartOfProduct, row.dimensionsPartOfProduct, row.idMaterial, row.nameMaterial)">
          <i class="fas fa-edit"></i>
        </button>
<!--
        <button mat-icon-button color="primary" (click)="openDialog(3, row.brClanskeKarte, row.JMBGClana, row.imeClana, row.prezimeClana, row.telefonClana, row.adresaClana, row.racun)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
-->
      </mat-cell>

    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [pageSize] = "5"
  [pageSizeOptions] = "[5, 10, 20]"
  [showFirstLastButtons] = "true">
  </mat-paginator>

 </div>
